<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista todos os Serviços disponíveis</title>
</head>
<body>
    <h1>Lista de Serviços Cadastrados</h1>
 
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Data Registro</th>
                <th>Data Alteração</th>
                <th>Endereço IP</th>
                <th>Nome do Serviço</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for servico in servicos %} 
                <tr>
                    <td>{{ servico.id }}</td>
                    <td>{{ servico.oco_usuario }}</td>
                    <td>{{ servico.oco_dataCadastro }}</td>
                    <td>{{ servico.oco_dataAlteracao }}</td>
                    <td>{{ servico.oco_ipAddress }}</td>
                    <td>{{ servico.oco_nomeOcorrencia }}</td>
                    <td>{{ servico.oco_tipoOcorrencia }}</td>                        
                    <td>{{ servico.oco_descricaoOcorrencia }}</td>                  
                    <td>{{ servico.oco_status }}</td>                  
                </tr>
            {% endfor %}
        
        </tbody>
    </table>
</body>
</html>