<!DOCTYPE html>
{% extends 'WebGis/base.html' %}

{% block content %}
<!-- Script para inicializar o mapa e capturar a latitude e longitude -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      //var map = L.map('map').setView([-25.45246 , -49.23398], 14);
      var map = L.map('map').locate({setView: true}, 16);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
      var marker = L.marker([0, 0], { draggable: true }).addTo(map);
      var popup = L.popup().setContent("Esta é sua Localização <br> Atual e Aproximada!!!");
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            marker.setLatLng([latitude, longitude]);
            popup.setLatLng([latitude, longitude]);
            marker.bindPopup(popup).openPopup();
            popup.openOn(map);
          });
        } else {
          alert('Geolocalização não é suportada pelo seu navegador.');
        }
      }
      getLocation();
   });

  </script>

  <!-- Mapa -->
  <section id="map">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="map" style="height: 480px; width: 600px;"></div>
        </div>
      </div>
    </div>
  </section>
  <a class="btn btn-primary" href="{% url 'WebGis:registro_servico_create'%}" role="button"> Clique aqui para Registrar uma Ocorrência!!!</a>
{% endblock content %}