<!-- meu_app/registro_servico_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Registro de Serviço</title>
</head>
<body>
    <h1>Detalhes do Registro de Serviço</h1>
    <p>ID: {{ registro_servicos.id }}</p>
    <p><b>Serviço: </b>{{ registro_servicos.servico }}</p>
    <p><b>Usuário: </b> {{ registro_servicos.usuario }}</p>
    <p>IP de Registro: {{ registro_servicos.ip_origem }}</p>
    <p>Data de Registro: {{ registro_servicos.data_registro }}</p>
    <p>Data de Alteração: {{ registro_servicos.data_alteracao }}</p>
    <p>Ponto: {{ registro_servicos.ponto }}</p>
    <p>Endereço: {{ registro_servicos.endereco }}</p>
    <p>Foto: <img src="{{ registro_servicos.foto.url }}" alt="Foto"></p>
</body>
</html>
