<!-- meu_app/registro_servico_detail.html -->
{% extends 'WebGis/base.html' %}

{% block  content %}
    <h1>Detalhes do Registro de Serviço</h1>
    <p>ID: {{ registro_servicos.id }}</p>
    <p><b>Serviço: </b>{{ registro_servicos.servico }}</p>
    <p><b>Usuário: </b> {{ registro_servicos.usuario }}</p>
    <p>IP de Registro: {{ registro_servicos.ip_origem }}</p>
    <p>Data de Registro: {{ registro_servicos.data_registro }}</p>
    <p>Data de Alteração: {{ registro_servicos.data_alteracao }}</p>
    <p>Ponto: {{ registro_servicos.ponto }}</p>
    <p>Endereço: {{ registro_servicos.endereco }}</p>
    {% if registro_servicos.foto %}
        <p><figure class="image-preview"> 
            <img src={{ registro_servicos.foto.url }} 
            class="figure-img img-fluid rounded" 
            alt={{ "registro_servicos.servico" }}>
            <figcaption class="figure-caption">
                {{ registro_servicos.foto.url }} 
            </figcaption>
            </figure>
        </p>
        <p>
            Foto:
            <a href= {{ registro_servicos.foto.url}}>
            {{ registro_servicos.servico}}
            </a>
        </p>
    {% else%}
        <p>Foto Não Disponível</p>
    {% endif %}

{% endblock content %}
