{% extends 'WebGis/base.html' %}

{% block content %}

    <h1>Lista de Registros de Serviço</h1>
    <ul>
        <table class="table table-striped">
            <thead class="thead-dark"> Registros de Serviços</thead>
            <th scope="col">ID</th>
            <th scope="col">Serviço Demandado</th>
            <th scope="col">Data do Registro</th>
            <th scope="col">Data da Ocorrência</th>
            <th scope="col">IP do Usuário</th>
            <th scope="col">Foto</th>
        </thead>
        <tbody>

        {% for registro_servico in registro_servicos %}
        <tr>
            <td><a href="{% url 'WebGis:registro_servico_detail' registro_servico.id %}">{{ registro_servico.id }}</a></td>
            <td>{{ registro_servico.servico }}</td>
            <td>{{ registro_servico.data_registro }}</td>
            <td>{{ registro_servico.data_alteracao }}</td>
            <td>{{ registro_servico.ip_origem }}</td>
            {% if registro_servico.foto %}
                <td>
                    <a href= {{ registro_servico.foto.url}}>
                        {{ registro_servico.servico}}
                    </a>
                </td>
            {% else%}
                <td>Foto Não Disponível</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </ul>
{% endblock content %}